* {
	margin: 0;
	padding: 0;
}

h1 {
	width:100vw;
	text-align: center;
	background: lightgoldenrodyellow;
	position: fixed;
	text-decoration: underline wavy brown;
}

nav {
	display: flex;
	height: 80px;
	padding-top:50px;
	position: fixed;
}

ul {
	background: lightgoldenrodyellow;
	display: flex;
	list-style: none;
	height: 25px;
}

li {
	list-style: none;
	border: 2px solid burlywood;
	width: 33vw;
	text-align: center;
	color: brown;
}

h2 {
	color: brown;
	background: radial-gradient(burlywood,lightgoldenrodyellow);
	text-align: center;
	border-radius:30px ;
}

p {
	color: black;
	line-height: 30px;
	word-break: keep-all;
	letter-spacing: 2px;
	text-align: center;
}

article {
	background-color: lightyellow;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	padding-top:100px;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

section {
	width: 350px;
	height: 600px;
	border: 1px dotted brown;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 30px;
	border-radius: 30px;
}

footer {
	background-color: brown;
	bottom: 0;
	right: 0;
	position: fixed;
	padding: 10px;
	color: lightgoldenrodyellow;
}

@media screen and (max-width: 900px)
footer {
	background-color: brown;
	bottom: 0;
	right: 0;
	position: fixed;
	padding: 10px;
	color: lightgoldenrodyellow;
}