header {
	background: black;
	border-radius: 100px;
	text-align: center;
}

img {
	margin-left: 120px;
	padding: 2px;
}

li {
	width: 160px;
	letter-spacing: 1.3px;
	word-break: keep-all;
	font-size: 20px;
}

.m1 {
	border-radius: 100px;
	background: radial-gradient(pink,white);
	text-align: center;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.m2 {
	border-radius: 100px;
	background: radial-gradient(skyblue,white);
	text-align: center;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.one {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 200px;
	height: 50px;
	border-radius: 100px;
	background: radial-gradient(lightyellow,skyblue);
	letter-spacing: 3px;
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.two {
	position: absolute;
	top: 200px;
	left: 300px;
	width: 200px;
	height: 50px;
	border-radius: 100px;
	background: radial-gradient(lightyellow,pink);
	letter-spacing: 3px;
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	background: radial-gradient(lightyellow,pink);
	text-align: center;
	font-size: 5vw;
	border-radius: 100px;
}

h2 {
	background: radial-gradient(lightyellow,pink);
	border: 2px orangered;
	text-align: center;
	border-radius: 60px;
}

section {
	border: 2px solid mistyrose;
	width: 600px;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	letter-spacing: 1.5px;
	word-break: keep-all;
	background: radial-gradient(pink,white);
	margin: 50px;
	border-radius: 100px;
}

p {
	background: radial-gradient(pink,white);
	line-height: 1.6;
	border-radius: 20px;
	text-align: center;
}

.a1 {
	background: radial-gradient(lightyellow,lightskyblue);
	border-radius: 100px;
}

.b1{
	background: radial-gradient(lightskyblue,white);
	border-radius: 100px;
	margin-left:60px ;
}

.c1 {
	background: radial-gradient(lightskyblue,white);
	text-align: center;
}

.d1 {
	background: radial-gradient(lightyellow,lightskyblue);
	text-align: center;
	border-radius: 100px;
	padding: 10px;
}

.e1 {
	border-radius: 100px;
	background: radial-gradient(purple,lightyellow);
	color: white;
}

footer {
	text-align: center;
	background: linear-gradient(pink,blue);
	color: transparent;
	-webkit-background-clip: text;
}

a {
	background: linear-gradient(pink,blue);
	color: transparent;
	-webkit-background-clip: text;
}

@media screen and(max-width: 900px) {
	.c1 {
		background: radial-gradient(lightskyblue,white);
		text-align: center;
		font-size: 18px;
		width: 350px;
		height:200px;
	}
}